{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
    {{category.desc|truncatewords:155}}
{% else %}
    Welcome to Fashion World where you can explore and own different items..
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
    {{ category.name }} - Fashion World
{% else %}
    See our new collection...
{% endif%}
{% endblock %}
 
{% block content %}
{% if category %}
<div>
    <div>
        <p>
            <a href="{% url 'shopapp:allProdCat' %}">Our Collections</a>

        </p>
    </div>
</div>
{% endif %}
<div>
    {% if category %}
        <img src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
<h1>{{category.name}}</h1>
<p>{{category.desc}}</p>
</div>
    {% else %}
        <div>    
            <img src="{% static 'image/banner.png' %}" alt="Our Collections">
        </div>
        <br>
<div>
    <h1>Our Collections..</h1>
    <p>Buck Mason—a menswear brand—doesn’t shy away from images to showcase the soul and origins of its California roots. It’s a great example of how you can use visuals to tell your story and create a brand identity that goes beyond the usual wall of text.
        One of the best parts of Buck Mason’s About Us page? Its calls to action (CTAs): “Come have a drink” and “Stop on by.” They’re relatable and playful, and they sound like their target audience. 
        Don't ignore your CTA as a key part of your About Us page that can add to your brand identity. It’s an opportunity to convey what your brand is all about. 
    </p>
</div>
    {% endif %}
<div>
    <div>
         {% for product in products %}
        <div>
            <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div>
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
    {% endblock %}