{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {{product.descr|truncatewords:155}}
{% endblock %}

{% block title %}
    {% if category %}
        {{product.name}} - Fashion World
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row my_prod_row_class">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-6 col-sm-4 col-md-4 col-lg-6">
                    <div style="min-width: 18rem">
                        <img src="{{product.image.url}}" alt="{{product.name}}">
                    </div>
                </div>
                <div class="col-md-6 col-sm-8 col-md-8 col-lg-6">
                    <h1 class="my_prod_title">{{product.name}}</h1>
                    <p class="text-justify">${{product.price}}</p>
                    <p class="text-justify my_prod_text">Product Description : {{product.descr}}</p>
                    {% if product.stock <= 0 %}
                        <p class="text-justify my_prod_text"><b>Out of Stock</b></p>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'cart_app:add_cart' product.id %}">Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
