{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{{product.descr|truncatewords:155}}
{% endblock %}


{% block title %}
{% if category %}
    {{product.name}} - Fashion World
{% endif %}
{% endblock %}


{% block content %}
    <div>
        <div>
            <p><a href="{% url 'shopapp:allProdCat' %}">Home</a> | <a href="{{product.category.get_url}}">{{product.category}}</a>{{product.name}}</p>
        </div>
    </div>
    <br>
    <div>
        <div>
            <div>
                <img src="{{product.image.url}}" alt="{{product.name}}">
            </div>
        </div>
        <div>
            <div>
                <h1>{{product.name}}</h1>
                <p>${{product.price}}</p>
                <p>Product Description : {{product.descr}}</p>
                {% if product.stock <= 0 %}
                <p><b>Out of Stock</b>
                {% else %}
                <a href="">Add to Cart</a>
                {% endif %}          
            </div>
        </div>
    </div>
{% endblock %}
