{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
We have vareity of products... Explore more...
{% endblock %}

{% block title %}
Search
{% endblock %}

{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for : <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx-auto">
         {% for product in products %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4">
                <div class="card text-center" style="min-width:18rem;">
                        <div>
                            <a href="{{product.get_url}}">
                            <img class="card-image-top my_image" src="{{product.image.url}}" alt="{{product.name}}" style="height:200px; width:170px">
                            </a>
                        </div>
                        <div class="card-body">
                            <h4>{{product.name}}</h4>
                            <p>{{product.price}}</p>
                        </div>
                </div>
            </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text"> No Result found </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}