
{% extends 'base.html' %}
{% block content %}

    <div class="shadow card">
        <div class="card-body">
            <h5 class="card-title"><h3>Task name: {{task.name}}</h3></h5>
            <p><b><h6>Priority: {{task.prio}}</h6></b></p>
            <p><b><h6>Date: {{task.date}}</h6></b></p>
            <a class="btn btn-danger" href="{% url 'deletefun' task.id %}">Delete</a>
            <a class="btn btn-success" href="{% url 'updatefun' task.id %}">Update</a>
        </div>
    </div>

{% endblock%}




